<table class="table table-hover">
    <thead>
        <td *ngFor="let col of data.columns" class="column">{{ col }}</td>
    </thead>
    <thead>
        <td *ngFor="let filter of appliedFilters; let idx=index;">
            <input type="text" class="form-control input" [(ngModel)]="filter.key" (change)="applyFilter($event, idx)"  />
        </td>
    </thead>
    <tbody *ngFor="let rowGroup of data.filteredData">
            <tr>
                <td *ngFor="let node1Data of rowGroup.node1Data; let idx=index;" 
                    class="column"
                    [ngClass]="getBackgroundColorClass(rowGroup.node1Data, idx, rowGroup.mismatchIdxList)">
                    <span *ngIf="idx != data.testNameColIdx || isEmpty(rowGroup.ticketUrl)">{{ node1Data }}</span>
                    <span *ngIf="idx == data.testNameColIdx && !isEmpty(rowGroup.ticketUrl)"><a [href]="rowGroup.ticketUrl" target="_blank">{{ node1Data }}</a></span>
                </td>
            </tr>
            <tr>
                <td *ngFor="let node2Data of rowGroup.node2Data; let idx=index"
                     column="column"
                     [ngClass]="getBackgroundColorClass(rowGroup.node2Data, idx, rowGroup.mismatchIdxList)">
                     <span *ngIf="idx != data.testNameColIdx || isEmpty(rowGroup.ticketUrl)">{{ node2Data }}</span>
                     <span *ngIf="idx == data.testNameColIdx && !isEmpty(rowGroup.ticketUrl)"><a [href]="rowGroup.ticketUrl" target="_blank">{{ node2Data }}</a></span>
                </td>
            </tr>
    </tbody>
</table>