.section {
    overflow: hidden;
}

.table-controls {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #63B175;
    border-radius: 5rem;
    box-shadow: 0px 1px #003610;
}

.form-check {
    margin-right: 1rem;
}

.recon-result {
    width: calc(100vw - 10rem);
    height: calc(100vh - 10rem);
    overflow: scroll;
}

.m-l-1rem {
    margin-left: 1rem;
}

.m-r-1rem {
    margin-right: 1rem;
}