.section {
    overflow: hidden;
}

.table-controls {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.form-check {
    padding-right: 1rem;
}

.recon-result {
    width: calc(100vw - 10rem);
    height: calc(100vh - 10rem);
    overflow: scroll;
}