@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    /* background-color: #a7f0ce; */
    background-color: #d5fce9;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Styling scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #63B175;
    border-radius: 1rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #63B175;
}